<!--- IN PROGRESS, NOT YET IMPLEMENTED -->

<div class='row'>
  <div class='col-md-9 col-sm-12'>
    <h1><%= t(:cancel_teaching_request) %></h1>
    <hr class='primary'/>
  </div>
</div>
<%= render 'form', cancel_request: @cancel_request %>
<br/>
