$('#edit_staff_assignment_response').remove();
$('body').append("<div id='edit_staff_assignment_response'></div>");
$('#edit_staff_assignment_response').append("<%= escape_javascript(render 'form', formats: [:html]) %>");
$('#edit_staff_assignment_response #assignment_response_form').modal('show');


// Chosen Plugin Load
$('.request-chosen').chosen({
  // no_results_text: 'No Result Found',
  allow_single_deselect: true,
  width: '100%'
});
