
<div class='row'>
  <div class='col-md-12 col-sm-12'>
    <h1><%= t(:assignment_response) %></h1>
    <hr class='primary'/>
  </div>
</div>

<%= render 'form', assignment_response: @assignment_response %>
<br/>
