<div id='bar' class='progress mb-2 bg-light' role='progressbar' style='height: 20px;'>
    <div class='progress-bar progress-bar-striped bg-info' role='progressbar' aria-valuenow="<%= progress_so_far %>" aria-valuemin='0' aria-valuemax='100' style="width: <%= progress_so_far %>" ></div><strong class='text-default' style='margin-left: 10px;'> <%= progress_so_far %></strong>
</div>
