


<div class="row">
  <div class="col-sm-6">
    <h1>Staff_profiles</h1>
  </div>

  <div class="col-sm-6 text-right">
    Add New Staff profile
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @staff_profiles.each do |staff_profile| %>
        <%= content_tag :tr, id: dom_id(staff_profile), class: dom_class(staff_profile) do %>
          

          
          
            <td><%= link_to 'Show', staff_profile %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
