<div class='page-header'>
  <%= link_to staff_admin_staff_profiles_path, class: 'btn btn-default' do %>
    All Staff_profiles
  <% end %>
  <%= link_to edit_staff_profile_path(@staff_profile), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show staff_profile</h1>
</div>

<dl class='dl-horizontal'>
</dl>
