<div class='row'>
  <div class='col-md-9 col-sm-12'>
    <h1><%= t(:new_library_class_request_by_staff) %></h1>
    <hr class='primary'/>
  </div>
  <!-- <div class='col-md-3 col-sm-12'>
    <p><strong>Progress</strong></p>
    <%= render partial: 'shared/progress_bar', locals: {progress_so_far: '10%'} %>
  </div> -->
</div>

<%= render 'form', teaching_request: @teaching_request %>
<br/>
