
<!-- <h1>New Library Class Request</h1> -->
<div class='row'>
  <div class='col-md-12 col-sm-12'>
    <% page_title 'Teaching By Date Range Form' %>
    <h1><%= yield(:page_title) %></h1>
    <hr class='primary'/>
  </div>
</div>

<%= render 'form' %>
<br/>
